<!-- navigation bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Kenneth Goodman</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li {% if page.title == 'Home' %}class="active"{% endif %}>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="http://kennethgoodman.github.io/cunyfirst-API/">CUNY first API</a>
                </li>
                <li>
                    <a href="http://kennethgoodman.github.io/pythonClass/">Python Class</a>
                </li>
                <li>
                    <a href="http://kennethgoodman.github.io/groupme">Groupme BOT API</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- navigation bar -->